@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&text=0123456789&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');

:root {
  --white: #ccc;
  --black: #333;
  --gray: #666;
  --red: #933;
  --tabsize: 768px;
  --pcsize: 1024px;
}

* {
  font-family: 'Titillium Web', 'Zen Maru Gothic', serif;
}

body {
  background-color: light-dark(var(--white), var(--black));
  color: light-dark(var(--black), var(--white));
  width: 100vw;
  height: 100vh;
}

main {
  display: grid;
  place-content: center;
}

.container {
  width: 800px;
}

@media screen and (min-width: var(--tabsize)) and (max-width: calc(var(--tabsize)-1px)) {
  body {
    font-size: 1em;
  }
}

@media screen and (min-width: var(--pcsize)) and (max-width: calc(var(--pcsize)-1px)) {
  body {
    font-size: 1.125em;
  }
}

a {
  color: light-dark(var(--red), var(--red));
}

.box {
  background: rgba(255, 255, 255, .2);
}